# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/
*.egg
pip-wheel-metadata/
*.whl

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
.venv/
.venv_old/
venv/
ENV/
env/
/.env
*.env

# Pytest
.pytest_cache/

# mypy
.mypy_cache/

# coverage
.coverage
.coverage.*
.cache
htmlcov/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints

# SQLite DB
*.sqlite3
